<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border boder-light rounded p-5">
    <div>
      <button type="button" class="btn btn-sm btn-secondary" (click)="ExibirFormularioCadastro()">
        Novo Cliente
      </button>
    </div>

    <hr />

    <table class="table table-striped table-hover table-sm" *ngIf="customers">
      <tr class="thead-light">
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>CPF/CNPJ</th>
        <th>Ações</th>
      </tr>

      <tr *ngFor="let customer of customers">
        <td>{{ customer.razaoSocial }}</td>
        <td>{{ customer.nomeFantasia }}</td>
        <td>{{ customer.cpfcnpj }}</td>
        <td>
          <button type="button" class="btn btn-sm btn-outline-info" (click)="ExibirFormularioAtualizacao(customer.id)">
            Atualizar</button
          >|
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(customer.id, customer.razaosocial, conteudoModal)">
            Excluir
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group">
          <label>Razão Social*</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="razaoSocial"
          />
          <ion-label style="color: red;" *ngIf="formulario.get('razaoSocial').touched && formulario.get('razaoSocial').errors?.required">O campo razão social é obrigatório.</ion-label>
        </div>

        <div class="form-group">
          <label>Nome Fantasia*</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="nomeFantasia"
          />
          <ion-label style="color: red;" *ngIf="formulario.get('nomeFantasia').touched && formulario.get('nomeFantasia').errors?.required">O campo nome fantasia é obrigatório.</ion-label>
        </div>

        <div class="form-group">
          <label>CPF/CNPJ*</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="cpfcnpj"
          />
          <ion-label style="color: red;" *ngIf="formulario.get('cpfcnpj').touched && formulario.get('cpfcnpj').errors?.required">O campo CPF/CNPJ é obrigatório.</ion-label>
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary" [disabled]="!formulario.valid">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Tem certeza que deseja excluir esse cliente?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="DeleteCustomer(id)">Sim</button>
    </div>
  </ng-template>
